<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Grammar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card href="/grammar/chinese-grammar" class="ion-activatable">
          <img decoding="async" part="image" src="assets/img/chinese-grammar.png">
          <ion-card-header>
            <ion-card-title>Chinese (Mandarin)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            some content
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card href="#" class="ion-activatable">
          <img decoding="async" part="image" src="assets/img/chinese-grammar.png">
          <ion-card-header>
            <ion-card-title>English</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            some content
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>          
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card href="#" class="ion-activatable">
          <img decoding="async" part="image" src="assets/img/chinese-grammar.png">
          <ion-card-header>
            <ion-card-title>Japanese</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            some content
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>          
        </ion-card> 
      </ion-col>
      <ion-col>
        <ion-card href="#" class="ion-activatable">
          <img decoding="async" part="image" src="assets/img/chinese-grammar.png">
          <ion-card-header>
            <ion-card-title>Portuguese (Brazil)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            some content
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>          
        </ion-card>  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card href="#" class="ion-activatable">
          <img decoding="async" part="image" src="assets/img/chinese-grammar.png">
          <ion-card-header>
            <ion-card-title>Spanish</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            some content
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>          
        </ion-card>  
      </ion-col>
      <ion-col>
        <!-- <ion-card>
          <img decoding="async" part="image" src="assets/img/chinese-grammar.png">
          <ion-card-header>
            <ion-card-title>Portuguese Grammar</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            some content
          </ion-card-content>
        </ion-card>   -->
      </ion-col>
    </ion-row>
  </ion-grid>





   

    

  

</ion-content>
