<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Chinese Grammar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic</ion-card-title>
      <ion-card-subtitle>HSK 1</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      HSK (Level I) assesses test takers’ abilities in the application of everyday Chinese. 
      It is the counterpart of the Level I of the Chinese Language Proficiency Scales for Speakers of Other Languages and the A1 Level of the Common European Framework of Reference (CEF). 
      Test takers who are able to pass the HSK (Level I) can understand and use very simple Chinese phrases, meet basic needs for communication and possess the ability to further their Chinese language studies.
    </ion-card-content>
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>Subj. + Verb (+ Obj.)</ion-label>
    </ion-item>
  
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>A + 是 + B</ion-label>
    </ion-item>
  
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>太 + Adj. + 了</ion-label>
    </ion-item>
  
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>Noun + 很 + Adj.</ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>HSK 2</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The HSK (Level II) assesses test takers’ abilities in the application of everyday Chinese. 
      It is the counterpart of the Level II of the Chinese Language Proficiency Scales for Speakers of Other Languages and the A2 Level of the Common European Framework of Reference (CEF). 
      Test takers who are able to pass the HSK (Level II) have an excellent grasp of basic Chinese and can communicate in simple and routine tasks requiring a simple and direct exchange of information on familiar and routine matters.
    </ion-card-content>
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>	的 vs. 得 vs. 地</ion-label>
    </ion-item>

  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Intermediate</ion-card-title>
      <ion-card-subtitle>HSK 3</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The HSK (Level III) assesses test takers’ abilities in the application of everyday Chinese. 
      It is the counterpart of the Level III of the Chinese Language Proficiency Scales for Speakers of Other Languages and the B1 Level of the Common European Framework of Reference (CEF). 
      Test takers who are able to pass the HSK (Level III) can communicate in Chinese at a basic level in their daily, academic and professional lives. They can manage most communication in Chinese when travelling in China.
    </ion-card-content>
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>一 + Measure Word + (Noun) + 也 / 都 + 不 / 没 + Verb</ion-label>
    </ion-item>
  
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>Subj.＋越＋Verb＋越 + Adj. / Verb</ion-label>
    </ion-item>
  
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>Subj. + 把 + Obj.+ Verb Phrase</ion-label>
    </ion-item>
  
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>Subj. + 被 + Doer + Verb Phrase</ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>HSK 4</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The HSK (Level IV) assesses test takers’ abilities in the application of everyday Chinese. 
      It is the counterpart of the Level IV of the Chinese Language Proficiency Scales for Speakers of Other Languages and the B2 Level of the Common European Framework of Reference (CEF). 
      Test takers who are able to pass the HSK (Level IV) can converse in Chinese on a wide range of topics and are able to communicate fluently with native Chinese speakers.
    </ion-card-content>
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>Noun 1 + 不像 + Noun 2 + 这么 / 那么 + Adj. / Verb</ion-label>
    </ion-item>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Advanced</ion-card-title>
      <ion-card-subtitle>HSK 5</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The HSK (Level V) assesses test takers’ abilities in the application of everyday Chinese. 
      It is the counterpart of the Level V of the Chinese Language Proficiency Scales for Speakers of Other Languages and the C1 Level of the Common European Framework of Reference (CEF). 
      Test takers who are able to pass the HSK (Level V) can read Chinese newspapers and magazines, enjoy Chinese films and plays and give a full-length speech in Chinese.
    </ion-card-content>
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>因为⋯⋯ ，而⋯⋯</ion-label>
    </ion-item>
    
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>假使⋯⋯，就⋯⋯</ion-label>
    </ion-item>
  
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>以 + Subject + 名义</ion-label>
    </ion-item>
  
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>所 + Verb + 的</ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>HSK 6</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The HSK (Level VI) assesses test takers’ abilities in the application of everyday Chinese. 
      It is the counterpart of the Level VI of the Chinese Language Proficiency Scales for Speakers of Other Languages and the C2 Level of the Common European Framework of Reference (CEF). 
      Test takers who are able to pass the HSK (Level VI) can easily comprehend written and spoken information in Chinese and can effectively express themselves in Chinese, both orally and on paper.
    </ion-card-content>
    <ion-item href="#" class="activated">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>...</ion-label>
    </ion-item>

  </ion-card>  
  
</ion-content>
